body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

body > * {
    padding: 0px 100px;
}

/* Nav bar */

nav{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Section One */
.one {
    background-color: #1F2937;
    /* display: flex; */
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
    padding: 6px 32px;
    border-radius: 4px;
}

.img {
    color: #F9FAF8;
    background-color: darkgray;
}