/* To Do */
/* 
    - Add flexible margins
    - Fix message at the bottom
    - Figure out font?
    - Consolidate text styling so that it's reusable
    - Maybe consolidate margin styling?
    - Personalize*/

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

body > * {
    padding: 0px 130px;
}

/* Nav bar */

nav{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Section One */
.one {
    background-color: #1F2937;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 25px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.title {
    font-size: 48px;
    /* font-weight: extra-bold; */
    font-weight: 900;
    color: #F9FAF8;
}
.text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border: none;
    padding: 6px 32px;
    border-radius: 4px;
    max-width: 142px;
}

.img {
    color: #F9FAF8;
    background-color: rgb(92, 93, 94);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section Two */

.two {
    color: #1F2937;
    padding-bottom: 70px; 
}

.subtitle {
    font-size: 36px;
    /* font-weight: extra-bold; */
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container {
    display: flex;
    gap: 20px;
}

.info {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    flex: auto;
}

.square {
    border: 3px solid #3882F6;
    border-radius: 8px;
    width: 130px;
    height: 130px;
}

/* Section Three */
.three {
    background-color: #E5E7EB;
    color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    align-self: center;
}

.cred {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

/* Section Four */
.four {
    padding-top: 100px;
    padding-bottom: 100px;
}

.message {
    border-radius: 4px;
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    padding: 30px 70px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.message-text {
    flex: auto;
}

.message-title {
    font-size: 20px;
}

.message > button {
    border: 2px solid #E5E7EB;
    flex: auto;
}

/* Footer */
.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}